* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.slider-container {
  display: flex;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out;
  position: relative; /* Para posicionar los botones dentro del contenedor */
}

.slider {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.slider img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background-color 0.5s ease;
}

/* Estilos de los botones */
#prev-btn, #next-btn {
  position: absolute;
  bottom: 20px;  /* Alineados a 20px desde el fondo */
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 0 20px 20px 0;  /* Solo esquinas redondeadas (semi-redondas) */
}

#prev-btn {
  left: 20px;  /* Alineado a la izquierda */
  border-radius: 20px 0 0 20px;  /* Esquinas redondeadas hacia la izquierda */
}

#next-btn {
  right: 20px;  /* Alineado a la derecha */
}

#prev-btn:hover, #next-btn:hover {
  background-color: #333;  /* Color más oscuro al pasar el ratón */
  transform: scale(1.1);  /* Efecto de agrandamiento al pasar el ratón */
}
